<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>DamStream</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" type="text/css" rel="stylesheet"/>
</head>

<body>

<div class="container">
    <div class="header">
        {% include 'includes/topmenu.html' %}
    </div>

    <form class="form-horizontal" role="form" method="POST" action="/createrestbasicdpl">

        <div class="form-group">
            <label class="control-label col-sm-4" for="pipeline_name">Pipeline Name:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="pipeline_name" name="pipeline_name"
                       placeholder="i.e. TwitterFeed" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="start_date">Start Date:</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="start_date" name="start_date"
                       placeholder="i.e. 2016-03-15 ">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="url_name">URL: </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="url_name" name="url_name"
                       placeholder="i.e. http://api.example.com/resources/">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="increment_type">Increment Type: </label>

            <div class="col-sm-8">
                <select class="form-control" id="increment_type" name="increment_type">
                    <option>offset</option>
                    <option>id</option>
                    <option>None</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="increment_variable">Increment Variable: </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="increment_variable" name="increment_variable"
                       placeholder="i.e offset (leave empty for None)">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="initial_increment_value">Initial Increment Value: </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="initial_increment_value" name="initial_increment_value"
                       placeholder="i.e 0 (leave empty for None)">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="increment_by">Increment By: </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="increment_by" name="increment_by"
                       placeholder="i.e. 1 (leave empty for None)">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="url_parameters">URL Parameters</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="url_parameters" name="url_parameters"
                       placeholder="i.e. {'limit':'100'}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="schedule_interval">Schedule Interval: </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="schedule_interval" name="schedule_interval"
                       placeholder="i.e. daily or cron expression">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="method">Method: </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="method" name="method" placeholder="i.e. POST, GET, PUT">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="headers">Headers: </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="headers" name="headers"
                       placeholder="i.e. {'Authentication':'A1B2', 'Content-Type':'application/json'}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="payload">Body / Payload: </label>

            <div class="col-sm-8">
                <input type="text" class="form-control" id="payload" name="payload"
                       placeholder="i.e. {'Status':'Accepted', 'Date':'2016-03-15'}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary pull-right" style="align:right;">Next >></button>
            </div>
        </div>


    </form>
    <p><br/><br/></p>
    <footer class="footer">
        <p>&copy; DamStream 2015</p>
    </footer>

</div>
</body>

</html>