<!DOCTYPE html>
<html lang="en">

<head>
    <title>DamStream</title>


    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>

    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" type="text/css" rel="stylesheet"/>


</head>

<body>

<div class="container">
    <div class="header">
        {% include 'includes/topmenu.html' %}
    </div>

    <div class="jumbotron">
        <p class="lead"></p>

        <p>Some text here in future...
        </p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Rapid & Dynamic Deployment</h4>

            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Easy Change Management</h4>

            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
                fermentum.</p>

            <h4>Increase Reusability</h4>

            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
            <h4>Real Time for All</h4>

            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Loosely Coupled Components</h4>

            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
                fermentum.</p>

            <h4>Sustainable Growth</h4>

            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; DamStream 2015</p>
    </footer>

</div>
</body>

</html>