<!DOCTYPE html>
<html lang="en">

<head>
    <title>DamStream</title>


    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>

    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" type="text/css" rel="stylesheet"/>


</head>

<body>

<div class="container">
    <div class="header">
        {% include 'includes/topmenu.html' %}
    </div>

    <div class="jumbotron">
        <p class="lead"></p>

        <p class ="text-primary">A Data Pipeline Framework <br/>To Enable Real Time Advanced Analytics
        </p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4 class ="text-primary"><span class="glyphicon glyphicon-screenshot"></span> Rapid & Dynamic Deployment</h4>

            <p>Enables rapid data pipeline deployment with just a few configuration parameters.</p>

            <h4 class ="text-primary"><span class="glyphicon glyphicon-eye-open"></span> Easy Change Management</h4>

            <p>Manage difficult changes throughout data pipeline lifecycle and avoid a pipeline jungle.</p>

            <h4 class ="text-primary"><span class="glyphicon glyphicon-refresh"> </span> Increase Reusability</h4>

            <p>Use EERL (Execution engine reference library) and stop building pipeline silos.</p>
        </div>

        <div class="col-lg-6">
            <h4 class ="text-primary"><span class="glyphicon glyphicon-forward"></span> Real Time for All</h4>

            <p>We enable real time pulling of data in micro batches from legacy sources.</p>

            <h4 class ="text-primary"> <span class="glyphicon glyphicon-th"></span> Loosely Coupled Components</h4>

            <p>Components are loosely coupled, so each can run at it's own pace.</p>

            <h4 class ="text-primary"><span class="glyphicon glyphicon-road"></span> Sustainable Growth</h4>

            <p>Grow your library in a standardized and sustainable way throughout the organization.</p>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; DamStream 2015</p>
    </footer>

</div>
</body>

</html>